<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->


	<bean class="com.model.Harddisk" name="harddisk">
		<!-- <property name="capacity" value="10"></property> -->
		<constructor-arg name="capacity" value="10"></constructor-arg>
	</bean>

	<bean class="com.model.Computer" name="computer"
		autowire="constructor">
		<!-- <property name="name" value="samsumg"></property> -->
		<constructor-arg name="name" value="samsung"></constructor-arg>
	</bean>

</beans>